a:link { color: #666666; font-family : Verdana, Arial; font-size : 13px; }	
a:visited {color: #666666; font-family : Verdana, Arial; font-size : 13px; }	
a:hover {color: #666666; font-family : Verdana, Arial; font-size : 13px; }	
a:active {color: #666666; font-family : Verdana, Arial; font-size : 13px; }

input.wf { font-size: 11px; background-color: #ffffff; }

span.wf-text { font-family : Verdana, Arial; font-size : 13px; font-weight: normal; color: #333333; }
span.wf-error { font-family : Verdana, Arial; font-size : 13px; font-weight: normal; color: #ff0000; }
span.wf-heading { font-family : Verdana, Arial; font-size : 17px; font-weight: bold; color: #333333; }
span.wf-label { font-family : Verdana, Arial; font-size : 13px; font-weight: bold; color: #333333; }
span.wf-headingrow { font-family : Verdana, Arial; font-size : 13px; font-weight: bold; color: #ffffff; }

table.wf { background: #eeeeee; }
tr.wf-heading { background: #333333; }
tr.wf-line { background: #999999; }
tr.wf-darkline { background: #000000; }
td.wf-lightcolumn { background: #ffffff; font-family : Verdana, Arial; font-size : 13px; font-weight: normal; color: #333333; height: 20px; }
td.wf-darkcolumn { background: #eeeeee; font-family : Verdana, Arial; font-size : 13px; font-weight: normal; color: #333333; height: 20px;}
